* {
  padding: 0;
  margin: 0;
  --text-gray: hsl(201, 11%, 66%);
  --head-gray: hsl(210, 10%, 33%);
  --btn-cyan: hsl(171, 66%, 44%);
  --btn-blue: hsl(233, 100%, 69%);
}

body {
  width: 100%;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 400;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url(./images/bg-header-mobile.png);
  background-repeat: no-repeat;
  height: 320px;
  width: 100%;
}
header img {
  padding-bottom: 70px;
}

section {
  margin: 12px auto;
}

h2 {
  color: var(--head-gray);
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  color: var(--head-gray);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

h4 {
  color: var(--head-gray);
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.7rem;
}

p {
  color: var(--text-gray);
  text-align: center;
  padding: 0 1rem;
}

#section1,
#section6 {
  padding: 0 20px;
}

#section1 div,
#section6 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
    justify-content: center;
  }

  #section1 button,
  #section6 button {
    width: 30%;
  }

  #section2 {
    margin-top: 90px;
    padding-left: 0;
  }

  #section2 > div:first-of-type {
    max-width: 650px;
    margin: auto;
    padding: 0 10px;
  }

  #section2 > div:last-of-type {
    margin-top: 40px;
    flex-direction: row;
    gap: 70px;
  }

  #section2 img {
    height: 420px;
    width: 100%;
    margin-left: -20px;
  }

  #section2 > div:last-of-type > div:last-of-type {
    width: 38%;
  }

  .snippets h4,
  .snippets p {
    text-align: left;
    padding: 0;
  }

  #section3 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
  }

  #section3 img {
    margin-top: 40px;
    height: 410px;
    width: 100%;
  }

  #section4 > div {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  #section4 .workflow {
    margin-bottom: 13px;
  }

  #section5 {
    max-width: 1000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin: 90px auto 0;
  }

  #section6 {
    margin-top: 130px;
  }

  footer {
    padding-top: 20px;
  }

  #section7 {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #section7 > div {
    align-items: center;
  }

  #section7 > nav > ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 70px;
    row-gap: 20px;
  }
  #section7 > nav > ul li a {
    text-align: left;
    text-decoration: none;
    display: block;
    color: var(--head-gray);
  }

  #section7 > ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
  }

  #section7 > ul img {
    width: 28px;
    height: 28px;
  }
}

#section1 > div button:hover,
#section6 > div button:hover {
  cursor: pointer;
}

#section7 ul > li > a:hover {
  color: var(--btn-cyan);
}
