@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
:root {
  --primary: hsl(171, 66%, 44%);
  --secondary: hsl(233, 100%, 69%);
  --gray-blue: hsl(201, 11%, 66%);
  --white: #fff;
  --gray: hsl(210, 10%, 33%);
  --cf-paragraph: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white);
  color: var(--gray);
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.heading{
width:90%;
text-align: center;
margin: 0 auto;
margin-bottom: 38px;
}
.heading h2 {
color:var(--gray);
margin-bottom: 15px;
font-size: 35px ;
}
.heading p {
  color: var(--gray);
}
  header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  header .container,
  .info .container {
    text-align: center;
    padding: 100px 0;
  }
  
  header .container p,
  .info .container p {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 30px;
    color: var(--gray-blue);
    
  }
  
  header .container h1,
  .info  .container h1{
      color: var(--gray);
          font-size: 2.5rem;
    }
    header .container p,
    .info .container p {
      color: var(--cf-paragraph);
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 40px;
    }
    
    header .container .actions,
    .info .container .actions {
      width: 60%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; 
    }
    
    header .container .actions .btn,
    .info .container .actions .btn {
      padding: 15px 30px;
      font-size: 16px;
      border: none;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color 0.3s ease;
          width: 42%;
  
    }
    
    header .container .actions .btn:hover,
    .info .container .actions .btn:hover {
      opacity: 0.9;
      transform: scale(1.1);
  
    }
    
    header .container .actions .btn-ios,
    .info .container .actions .btn-ios {
      background-color: var(--primary);
      font-size: 20px;
    }
    
    header .container .actions .btn-mac,
    .info .container .actions .btn-mac {
      background-color: var(--secondary);
      font-size: 20px;
    }
    .snippets {
      padding: 50px 0;
      }
      .snippets .row {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      }
      .snippets .image{
      width: 50%;
      height: 500px;
      }
      .snippets .image img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
        position: relative;
        left: -20px;
      }
 .snippets .heading p {
          color: var(--gray-blue);
        }
        .snippets .text {
        width: 45%;
        display: flex;
        flex-direction: column;
        }
        .snippets .text li {
        padding-right: 15px;
        margin-bottom: 25px;
        }
        .snippets text h3 {
          color: var(--primary);
        }
        .snippets .text p {
          color: var(--gray-blue);
        }
    .gallery {
      padding: 50px 0;
    }
    .gallery .image{
   width: 800px;
  height: 500px;
  margin: 0 auto;
  text-align: center;
    }
    .gallery .image img{
  width: 100%;
  max-width: 100%;
  text-align: center;
    }
    @media (max-width:  767px) {
      .gallery.image{
        width: 350px;
      }
      
    }

  .workflow {
    padding: 50px;
    }
    .workflow .container {
       display: flex;
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
    }
    .workflow .container .box {
      text-align: center;
      width: 300px;
      height: 250px;
      padding: 15px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
     }
     .workflow .container .box img {
    height: 40;
     }
     .workflow .container .box h3{
      color: var(--gray);
     }
     .workflow .container .box p{
      height: 40%;
        color: var(--gray-blue); 
     }
  
     .branda {
  padding: 50px 0;
     }
     .brands .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      }
      .brands .container img {
      width: 170px;
      max-width: 100%;
      }
  .info {
  padding:50px 0;
  height: 350px;
  
  }

   footer {
  background-color: gainsboro;
    padding: 40px 0;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  footer img {
    height: 50px; 
  }
  
  footer ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  footer ul.links li {
    margin-right: 20px;
  }
  
  footer ul.links li a {
    text-decoration: none;
    color: var(--gray); 
    font-size: 16px;
    transition: color 0.3s;
  }
  
  footer ul.links li a:hover {
    color: var(--gray); 
  }
  
  footer ul.social {
    display: flex;
  }
  
  footer ul.social li {
    margin-left: 10px;
  }
  
  footer ul.social li a {
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  
  footer ul.social li a img {
    width: 100%;
    height: 100%;
  }
  
